<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LayersToGeoserver.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="LocalLayersConnectionString" value="0eHADURNYYugx90HKfEjS0L90mCErqUBROu28JRAzvs=" />
    <add key="GeoServerUri" value="RvZB7OquV8sMUzSwm7Rb0uLx2Of1cVCPZ1rqveW++8TtAGBPuGyI6IW97zlZ+z1b" />
    <add key="GeoServerUser" value="U30z6YjE/WpsavdXXpnztg==" />
    <add key="GeoServerPassword" value="/dWCVKq1Dc5Wjz5s1Jpq5w==" />
    
  </appSettings>
</configuration>